.addTransaction{
    font-size: 16px;
    font-weight: 600;

}
.horizontal-line {
    border-top: 1.5px solid #8b8b8b; 
    margin: 10px 0;
  }

  .form-control>input{
    border:none;
    outline:none;
    background-color: #f79d9d21;
    border-radius:5px;
    width: 100%;
    font-size: 14px;
    padding:10px 5px;
    margin:10px 0px;
  }
  .form-control{
    font-size: 14px;
  }
  .btn{
    width:100%;
    padding:10px;
    background-color: rgb(243, 130, 149);
    border-radius:5px;
    border: none;
    color:white;
    font-size: 16px;
    margin:20px 0;
  }